@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

.containerNavBox1:hover .containerNavBox2 {
  visibility: visible;
  transform: translateY(0);
  opacity: 100;
}
